{% extends 'bigmoney/base.html' %}
{% load staticfiles %}
{% block stylesheets %}
    <style>
        body {
            padding-top: 60px;
            padding-bottom: 20px;
        }
        table {
            margin: 40px 0;
        }
    </style>
{% endblock %}
{% block content %}
    <div class="jumbotron">
        <div class="container">
            <h1>Big Money API</h1>
            <p>A back end for investigating the movement of money in B.C. politics.</p>
            <p>
                <a href="/api/donations/?contributor__contributor_class=2&filer__type=CANDIDATE&ordering=-amount"
                   class="btn btn-primary btn-lg" href="#" role="button"><span class="glyphicon glyphicon-search" aria-hidden="true"></span> Try a search</a></p>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <h2>This is meant to be read by robots, but humans are welcome too. <small>Here are some things to try:</small></h2>
            <table class="table table-responsive">
                <tbody>
                <tr>
                    <td>See a human-readable version of the data</td>
                    <td><a href="/api">/api</a></td>
                </tr>
                <tr>
                    <td>List of all donations</td>
                    <td><a href="/api/donations">/api/donations</a></td>
                </tr>
                <tr>
                    <td>Add <em>?format=json</em> to any URL to see the machine-readable version of the data</td>
                    <td><a href="/api/donations/?format=json">/api/donations/?format=json</a></td>
                </tr>
                <tr>
                    <td>Show the details of a single donation</td>
                    <td><a href="/api/donations/4215/">/api/donations/4215</a></td>
                </tr>
                <tr>
                    <td>Lsit all donations larger than $25,000</td>
                    <td><a href="/api/donations/?min=25000">/api/donations/?min=25000</a></td>
                </tr>
                <tr>
                    <td>List the top (non-individual) donors</td>
                    <td><a href="/api/unique_organizations/?ordering=-donations_total">/api/unique_organizations/?ordering=-donations_total</a>
                    </td>
                </tr>
                <tr>
                    <td>Get all of the above results in a single (slower) page of JSON data</td>
                    <td><a href="api/unique_organizations/?ordering=-donations_total&format=json&limit=99999">api/unique_organizations/?ordering=-donations_total&format=json&limit=99999</a></td>
                </tr>
                <tr>
                    <td>List all the donations to one party and its candidates between two dates</td>
                    <td><a href="/api/donations/?after=2013-02-13&before=2013-02-14&filer__affiliation=BC+NDP">/api/donations/?after=2013-02-13&before=2013-02-14&filer__affiliation=BC+NDP</a>
                    </td>
                </tr>
                <tr>
                    <td>List all the donations from one company</td>
                    <td><a href="/api/donations/?contributor__contributor_class=2&search=Classic+Impressions">/api/donations/?contributor__contributor_class=2&search=Classic+Impressions</a>
                    </td>
                </tr>
                </tbody>
            </table>
            <p>Or click the
                <button style="margin: 0 5px" class="btn btn-default">
                    <span class="glyphicon glyphicon-wrench" aria-hidden="true"></span>
                    Filters
                </button>
                button on a page in the <a href="/api/donations/">API</a> to build your own query.
            </p>
        </div>
        <hr>

        <footer>
            <p>An open source project from <a href="http://dogwoodinitiative.org">Dogwood Initiative</a>'s <a href="http://banbigmoney.dogwoodbc.ca/">#BanBigMoney</a> campaign. <a
                    href="https://github.com/DogwoodBC/bigmoney">Contribute!</a>.</p>
        </footer>
    </div>
{% endblock %}
{% block javascripts %}{% endblock %}